.orderHistory_container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(auto, 22.5rem) minmax(28.875rem, 3fr) minmax(auto, 1fr);
    grid-template-rows: 4rem auto;
    grid-template-areas:
        "topAppBar topAppBar topAppBar"
        "main main main";
    background-color: var(--md-sys-color-surface-container);
}

@media (min-width: 839px) {
    .orderHistory_container {
        min-height: 100vh;
        grid-template-columns: minmax(auto, 22.5rem) minmax(28.875rem, 3fr) auto;
        grid-template-rows: 4rem auto;
        grid-template-areas:
            "drawer topAppBar topAppBar"
            "drawer main main";
        /* "drawer main details"; */
        background-color: var(--md-sys-color-surface-container);
    }
}

.orderHistory {
    grid-area: main;
    max-width: 55rem;
    justify-self: center;
    width: 100%;
}

/* .orderDetails {
    grid-area: details;

} */