.editProductForm_container {
    justify-content: center;
    width: 100%;
    display: flex;
    /* min-width: 910px; */
}

@media (max-width: 910px) {
    .editProductForm_container {
        flex-direction: column;
        min-width: 100%;
        align-items: center;
        padding: 1rem;
    }

    .editProductForm_previewContainer {
        width: 100%;
        /* max-width: fit-content; */
    }
}

.editProductForm {
    display: flex;
    flex-direction: column;
    background-color: var(--md-sys-color-surface);
    gap: 1rem;
    border-radius: 1rem;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    max-width: 55rem;
    width: 100%;
}

.editProductForm_previewContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    background-color: var(--md-sys-color-surface);
    border-radius: 1rem;
    max-height: fit-content;
    flex: 0 0 214px;
}

.editProductForm_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editProductForm_preview img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.formError {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.15px;
    color: var(--md-sys-color-error)
}