@keyframes slideIn {
    from {
        transform: scaleY(0);
        transform: translateY(100%);
    }

    to {
        transform: scaleY(1);
        transform: translateY(0);
    }
}

@keyframes vanish {
    from {
        opacity: 1;
        visibility: 1;

    }

    to {
        opacity: 0;
        visibility: 0;
    }

}

.snackbar_container {
    visibility: hidden;
    opacity: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--md-sys-color-inverse-surface);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    border-radius: 0.25rem;
    height: 4.25rem;
    /* width: calc(100% - 2rem); */
    max-width: 30rem;
    padding: 0 1rem;
    z-index: 1000;
    text-wrap: pretty;

    /* position: absolute;
    top: calc(100vh - 10rem);
    left: 50%;
    transform: translateX(-50%); */


    position: fixed;
    left: 1rem;
    /* transform: translateX(-50%); */
    bottom: 1rem;
}

.snackbar_container.snackbar_container__show {
    visibility: visible;
    opacity: 1;
    animation: slideIn 300ms ease-in-out;
}

.snackbar_container.snackbar_container__vanish {
    animation: vanish 300ms ease-in-out forwards;
    /* Anima el desvanecimiento */
}

.snackbar_actionContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.snackbar_supportText {
    color: var(--md-sys-color-inverse-on-surface);
    line-height: 1.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.25px;

}

.snackbar_button {
    background-color: var(--md-sys-color-inverse-surface);
    border: none;
    cursor: pointer;
    color: var(--md-sys-color-inverse-primary);
    line-height: 1.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.1px;
    padding: 0 0.25rem;
}

.snackbar_closeButton {
    background-color: var(--md-sys-color-inverse-surface);
    border: none;
    cursor: pointer;
    color: var(--md-sys-color-inverse-on-surface);
}

/* Estados de hover */

@media (hover: hover) {
    .snackbar_button:hover {
        background-color: rgba(var(--md-sys-color-inverse-primary-rgb), 0.08);
        border-radius: 0.25rem;
    }

    .snackbar_closeButton:hover {
        background-color: rgba(var(--md-sys-color-inverse-on-surface-rgb), 0.08);
        border-radius: 0.25rem;
    }
}

/* Estados para el focus y pressed*/

.snackbar_button:focus-visible,
.snackbar_button:active {
    outline: none;
    background-color: rgba(var(--md-sys-color-inverse-primary-rgb), 0.1);
}

.snackbar_closeButton:focus-visible,
.snackbar_closeButton:active {
    outline: none;
    background-color: rgba(var(--md-sys-color-inverse-on-surface-rgb), 0.1);
}