.home_container {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 22.5rem) 3fr auto;
    grid-template-rows: 4rem auto;
    grid-template-areas:
        "topAppBar topAppBar topAppBar"
        "main main main";
    /* column-gap: 1rem; */
    background-color: var(--md-sys-color-surface-container-high);
    /* background-color: var(--md-sys-color-surface); */
}

@media (min-width: 700px) and (max-width: 1199px) {
    .home_container {
        grid-template-columns: minmax(0, 22.5rem) 3fr auto;
        grid-template-rows: 4rem auto;
        grid-template-areas:
            "drawer topAppBar topAppBar"
            "drawer main main ";
        background-color: var(--md-sys-color-surface-container-high);
    }

    /* Como podria darle tamaño a estas areas segun el contenido? 
    Parece que una forma es con el auto*/
}

@media (min-width: 1200px) {
    .home_container {
        grid-template-columns: minmax(0, 22.5rem) 3fr auto;
        grid-template-rows: 4rem auto;
        grid-template-areas:
            "drawer topAppBar topAppBar"
            "drawer main sideSheet";
        background-color: var(--md-sys-color-surface-container-high);
    }

}

.home_main {
    grid-area: main;
}