::-webkit-scrollbar-button {
  display: none;
  /* Oculta las flechas */
}

:root {
  font-family: "Roboto Flex", sans-serif;
}


/* Utility Classes */
/* Standard Contrast */
.light {
  --md-sys-color-primary: rgb(85 90 146);
  --md-sys-color-surface-tint: rgb(85 90 146);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(224 224 255);
  --md-sys-color-on-primary-container: rgb(16 20 75);
  --md-sys-color-secondary: rgb(92 93 114);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(225 224 249);
  --md-sys-color-on-secondary-container: rgb(25 26 44);
  --md-sys-color-tertiary: rgb(120 83 107);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 216 238);
  --md-sys-color-on-tertiary-container: rgb(46 17 38);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(251 248 255);
  --md-sys-color-on-background: rgb(27 27 33);
  --md-sys-color-surface: rgb(251 248 255);
  --md-sys-color-on-surface: rgb(27 27 33);
  --md-sys-color-surface-variant: rgb(227 225 236);
  --md-sys-color-on-surface-variant: rgb(70 70 79);
  --md-sys-color-outline: rgb(119 118 128);
  --md-sys-color-outline-variant: rgb(199 197 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 48 54);
  --md-sys-color-inverse-on-surface: rgb(242 239 247);
  --md-sys-color-inverse-primary: rgb(190 194 255);
  --md-sys-color-primary-fixed: rgb(224 224 255);
  --md-sys-color-on-primary-fixed: rgb(16 20 75);
  --md-sys-color-primary-fixed-dim: rgb(190 194 255);
  --md-sys-color-on-primary-fixed-variant: rgb(61 66 121);
  --md-sys-color-secondary-fixed: rgb(225 224 249);
  --md-sys-color-on-secondary-fixed: rgb(25 26 44);
  --md-sys-color-secondary-fixed-dim: rgb(197 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(68 69 89);
  --md-sys-color-tertiary-fixed: rgb(255 216 238);
  --md-sys-color-on-tertiary-fixed: rgb(46 17 38);
  --md-sys-color-tertiary-fixed-dim: rgb(231 185 213);
  --md-sys-color-on-tertiary-fixed-variant: rgb(94 60 83);
  --md-sys-color-surface-dim: rgb(219 217 224);
  --md-sys-color-surface-bright: rgb(251 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 242 250);
  --md-sys-color-surface-container: rgb(239 237 244);
  --md-sys-color-surface-container-high: rgb(234 231 239);
  --md-sys-color-surface-container-highest: rgb(228 225 233);
  /* rgb */
  --md-sys-color-primary-rgb: 85, 90, 146;
  --md-sys-color-surface-tint-rgb: 85, 90, 146;
  --md-sys-color-on-primary-rgb: 255, 255, 255;
  --md-sys-color-primary-container-rgb: 224, 224, 255;
  --md-sys-color-on-primary-container-rgb: 16, 20, 75;
  --md-sys-color-secondary-rgb: 92, 93, 114;
  --md-sys-color-on-secondary-rgb: 255, 255, 255;
  --md-sys-color-secondary-container-rgb: 225, 224, 249;
  --md-sys-color-on-secondary-container-rgb: 25, 26, 44;
  --md-sys-color-tertiary-rgb: 120, 83, 107;
  --md-sys-color-on-tertiary-rgb: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb: 255, 216, 238;
  --md-sys-color-on-tertiary-container-rgb: 46, 17, 38;
  --md-sys-color-error-rgb: 186, 26, 26;
  --md-sys-color-on-error-rgb: 255, 255, 255;
  --md-sys-color-error-container-rgb: 255, 218, 214;
  --md-sys-color-on-error-container-rgb: 65, 0, 2;
  --md-sys-color-background-rgb: 251, 248, 255;
  --md-sys-color-on-background-rgb: 27, 27, 33;
  --md-sys-color-surface-rgb: 251, 248, 255;
  --md-sys-color-on-surface-rgb: 27, 27, 33;
  --md-sys-color-surface-variant-rgb: 227, 225, 236;
  --md-sys-color-on-surface-variant-rgb: 70, 70, 79;
  --md-sys-color-outline-rgb: 119, 118, 128;
  --md-sys-color-outline-variant-rgb: 199, 197, 208;
  --md-sys-color-shadow-rgb: 0, 0, 0;
  --md-sys-color-scrim-rgb: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb: 48, 48, 54;
  --md-sys-color-inverse-on-surface-rgb: 242, 239, 247;
  --md-sys-color-inverse-primary-rgb: 190, 194, 255;
  --md-sys-color-primary-fixed-rgb: 224, 224, 255;
  --md-sys-color-on-primary-fixed-rgb: 16, 20, 75;
  --md-sys-color-primary-fixed-dim-rgb: 190, 194, 255;
  --md-sys-color-on-primary-fixed-variant-rgb: 61, 66, 121;
  --md-sys-color-secondary-fixed-rgb: 225, 224, 249;
  --md-sys-color-on-secondary-fixed-rgb: 25, 26, 44;
  --md-sys-color-secondary-fixed-dim-rgb: 197, 196, 221;
  --md-sys-color-on-secondary-fixed-variant-rgb: 68, 69, 89;
  --md-sys-color-tertiary-fixed-rgb: 255, 216, 238;
  --md-sys-color-on-tertiary-fixed-rgb: 46, 17, 38;
  --md-sys-color-tertiary-fixed-dim-rgb: 231, 185, 213;
  --md-sys-color-on-tertiary-fixed-variant-rgb: 94, 60, 83;
  --md-sys-color-surface-dim-rgb: 219, 217, 224;
  --md-sys-color-surface-bright-rgb: 251, 248, 255;
  --md-sys-color-surface-container-lowest-rgb: 255, 255, 255;
  --md-sys-color-surface-container-low-rgb: 245, 242, 250;
  --md-sys-color-surface-container-rgb: 239, 237, 244;
  --md-sys-color-surface-container-high-rgb: 234, 231, 239;
  --md-sys-color-surface-container-highest-rgb: 228, 225, 233;
}

.dark {
  --md-sys-color-primary: rgb(190 194 255);
  --md-sys-color-surface-tint: rgb(190 194 255);
  --md-sys-color-on-primary: rgb(38 43 97);
  --md-sys-color-primary-container: rgb(61 66 121);
  --md-sys-color-on-primary-container: rgb(224 224 255);
  --md-sys-color-secondary: rgb(197 196 221);
  --md-sys-color-on-secondary: rgb(46 47 66);
  --md-sys-color-secondary-container: rgb(68 69 89);
  --md-sys-color-on-secondary-container: rgb(225 224 249);
  --md-sys-color-tertiary: rgb(231 185 213);
  --md-sys-color-on-tertiary: rgb(69 38 60);
  --md-sys-color-tertiary-container: rgb(94 60 83);
  --md-sys-color-on-tertiary-container: rgb(255 216 238);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(228 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(228 225 233);
  --md-sys-color-surface-variant: rgb(70 70 79);
  --md-sys-color-on-surface-variant: rgb(199 197 208);
  --md-sys-color-outline: rgb(145 144 154);
  --md-sys-color-outline-variant: rgb(70 70 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 233);
  --md-sys-color-inverse-on-surface: rgb(48 48 54);
  --md-sys-color-inverse-primary: rgb(85 90 146);
  --md-sys-color-primary-fixed: rgb(224 224 255);
  --md-sys-color-on-primary-fixed: rgb(16 20 75);
  --md-sys-color-primary-fixed-dim: rgb(190 194 255);
  --md-sys-color-on-primary-fixed-variant: rgb(61 66 121);
  --md-sys-color-secondary-fixed: rgb(225 224 249);
  --md-sys-color-on-secondary-fixed: rgb(25 26 44);
  --md-sys-color-secondary-fixed-dim: rgb(197 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(68 69 89);
  --md-sys-color-tertiary-fixed: rgb(255 216 238);
  --md-sys-color-on-tertiary-fixed: rgb(46 17 38);
  --md-sys-color-tertiary-fixed-dim: rgb(231 185 213);
  --md-sys-color-on-tertiary-fixed-variant: rgb(94 60 83);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(57 57 63);
  --md-sys-color-surface-container-lowest: rgb(14 14 19);
  --md-sys-color-surface-container-low: rgb(27 27 33);
  --md-sys-color-surface-container: rgb(31 31 37);
  --md-sys-color-surface-container-high: rgb(42 41 47);
  --md-sys-color-surface-container-highest: rgb(52 52 58);
}

/* Medium Contrast */
/* .light-medium-contrast {
  --md-sys-color-primary: rgb(57 62 116);
  --md-sys-color-surface-tint: rgb(85 90 146);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(107 112 170);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(64 65 85);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(114 115 137);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(90 56 79);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(144 105 130);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(251 248 255);
  --md-sys-color-on-background: rgb(27 27 33);
  --md-sys-color-surface: rgb(251 248 255);
  --md-sys-color-on-surface: rgb(27 27 33);
  --md-sys-color-surface-variant: rgb(227 225 236);
  --md-sys-color-on-surface-variant: rgb(66 66 75);
  --md-sys-color-outline: rgb(95 94 103);
  --md-sys-color-outline-variant: rgb(123 122 131);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 48 54);
  --md-sys-color-inverse-on-surface: rgb(242 239 247);
  --md-sys-color-inverse-primary: rgb(190 194 255);
  --md-sys-color-primary-fixed: rgb(107 112 170);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(82 87 143);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(114 115 137);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(89 90 111);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(144 105 130);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(117 81 105);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(219 217 224);
  --md-sys-color-surface-bright: rgb(251 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 242 250);
  --md-sys-color-surface-container: rgb(239 237 244);
  --md-sys-color-surface-container-high: rgb(234 231 239);
  --md-sys-color-surface-container-highest: rgb(228 225 233);
  }

  .dark-medium-contrast {
    --md-sys-color-primary: rgb(195 199 255);
    --md-sys-color-surface-tint: rgb(190 194 255);
    --md-sys-color-on-primary: rgb(9 14 70);
    --md-sys-color-primary-container: rgb(135 140 200);
    --md-sys-color-on-primary-container: rgb(0 0 0);
    --md-sys-color-secondary: rgb(201 201 225);
    --md-sys-color-on-secondary: rgb(19 21 38);
    --md-sys-color-secondary-container: rgb(142 143 166);
    --md-sys-color-on-secondary-container: rgb(0 0 0);
    --md-sys-color-tertiary: rgb(236 189 217);
    --md-sys-color-on-tertiary: rgb(40 12 33);
    --md-sys-color-tertiary-container: rgb(174 132 158);
    --md-sys-color-on-tertiary-container: rgb(0 0 0);
    --md-sys-color-error: rgb(255 186 177);
    --md-sys-color-on-error: rgb(55 0 1);
    --md-sys-color-error-container: rgb(255 84 73);
    --md-sys-color-on-error-container: rgb(0 0 0);
    --md-sys-color-background: rgb(19 19 24);
    --md-sys-color-on-background: rgb(228 225 233);
    --md-sys-color-surface: rgb(19 19 24);
    --md-sys-color-on-surface: rgb(253 249 255);
    --md-sys-color-surface-variant: rgb(70 70 79);
    --md-sys-color-on-surface-variant: rgb(203 201 212);
    --md-sys-color-outline: rgb(163 162 172);
    --md-sys-color-outline-variant: rgb(131 130 140);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(228 225 233);
    --md-sys-color-inverse-on-surface: rgb(42 41 47);
    --md-sys-color-inverse-primary: rgb(62 67 122);
    --md-sys-color-primary-fixed: rgb(224 224 255);
    --md-sys-color-on-primary-fixed: rgb(4 7 65);
    --md-sys-color-primary-fixed-dim: rgb(190 194 255);
    --md-sys-color-on-primary-fixed-variant: rgb(44 49 103);
    --md-sys-color-secondary-fixed: rgb(225 224 249);
    --md-sys-color-on-secondary-fixed: rgb(14 16 33);
    --md-sys-color-secondary-fixed-dim: rgb(197 196 221);
    --md-sys-color-on-secondary-fixed-variant: rgb(51 53 72);
    --md-sys-color-tertiary-fixed: rgb(255 216 238);
    --md-sys-color-on-tertiary-fixed: rgb(34 7 27);
    --md-sys-color-tertiary-fixed-dim: rgb(231 185 213);
    --md-sys-color-on-tertiary-fixed-variant: rgb(76 44 66);
    --md-sys-color-surface-dim: rgb(19 19 24);
    --md-sys-color-surface-bright: rgb(57 57 63);
    --md-sys-color-surface-container-lowest: rgb(14 14 19);
    --md-sys-color-surface-container-low: rgb(27 27 33);
    --md-sys-color-surface-container: rgb(31 31 37);
    --md-sys-color-surface-container-high: rgb(42 41 47);
    --md-sys-color-surface-container-highest: rgb(52 52 58);
  } */

/* High Contrast */
/* .light-high-contrast {
    --md-sys-color-primary: rgb(23 28 82);
    --md-sys-color-surface-tint: rgb(85 90 146);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(57 62 116);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-secondary: rgb(31 33 51);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(64 65 85);
    --md-sys-color-on-secondary-container: rgb(255 255 255);
    --md-sys-color-tertiary: rgb(53 24 45);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(90 56 79);
    --md-sys-color-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-error: rgb(78 0 2);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(140 0 9);
    --md-sys-color-on-error-container: rgb(255 255 255);
    --md-sys-color-background: rgb(251 248 255);
    --md-sys-color-on-background: rgb(27 27 33);
    --md-sys-color-surface: rgb(251 248 255);
    --md-sys-color-on-surface: rgb(0 0 0);
    --md-sys-color-surface-variant: rgb(227 225 236);
    --md-sys-color-on-surface-variant: rgb(35 35 43);
    --md-sys-color-outline: rgb(66 66 75);
    --md-sys-color-outline-variant: rgb(66 66 75);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(48 48 54);
    --md-sys-color-inverse-on-surface: rgb(255 255 255);
    --md-sys-color-inverse-primary: rgb(235 234 255);
    --md-sys-color-primary-fixed: rgb(57 62 116);
    --md-sys-color-on-primary-fixed: rgb(255 255 255);
    --md-sys-color-primary-fixed-dim: rgb(34 39 93);
    --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
    --md-sys-color-secondary-fixed: rgb(64 65 85);
    --md-sys-color-on-secondary-fixed: rgb(255 255 255);
    --md-sys-color-secondary-fixed-dim: rgb(42 43 62);
    --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
    --md-sys-color-tertiary-fixed: rgb(90 56 79);
    --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
    --md-sys-color-tertiary-fixed-dim: rgb(65 34 56);
    --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
    --md-sys-color-surface-dim: rgb(219 217 224);
    --md-sys-color-surface-bright: rgb(251 248 255);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(245 242 250);
    --md-sys-color-surface-container: rgb(239 237 244);
    --md-sys-color-surface-container-high: rgb(234 231 239);
    --md-sys-color-surface-container-highest: rgb(228 225 233);
  }

  .dark-high-contrast {
    --md-sys-color-primary: rgb(253 249 255);
    --md-sys-color-surface-tint: rgb(190 194 255);
    --md-sys-color-on-primary: rgb(0 0 0);
    --md-sys-color-primary-container: rgb(195 199 255);
    --md-sys-color-on-primary-container: rgb(0 0 0);
    --md-sys-color-secondary: rgb(253 249 255);
    --md-sys-color-on-secondary: rgb(0 0 0);
    --md-sys-color-secondary-container: rgb(201 201 225);
    --md-sys-color-on-secondary-container: rgb(0 0 0);
    --md-sys-color-tertiary: rgb(255 249 249);
    --md-sys-color-on-tertiary: rgb(0 0 0);
    --md-sys-color-tertiary-container: rgb(236 189 217);
    --md-sys-color-on-tertiary-container: rgb(0 0 0);
    --md-sys-color-error: rgb(255 249 249);
    --md-sys-color-on-error: rgb(0 0 0);
    --md-sys-color-error-container: rgb(255 186 177);
    --md-sys-color-on-error-container: rgb(0 0 0);
    --md-sys-color-background: rgb(19 19 24);
    --md-sys-color-on-background: rgb(228 225 233);
    --md-sys-color-surface: rgb(19 19 24);
    --md-sys-color-on-surface: rgb(255 255 255);
    --md-sys-color-surface-variant: rgb(70 70 79);
    --md-sys-color-on-surface-variant: rgb(253 249 255);
    --md-sys-color-outline: rgb(203 201 212);
    --md-sys-color-outline-variant: rgb(203 201 212);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(228 225 233);
    --md-sys-color-inverse-on-surface: rgb(0 0 0);
    --md-sys-color-inverse-primary: rgb(31 36 90);
    --md-sys-color-primary-fixed: rgb(229 229 255);
    --md-sys-color-on-primary-fixed: rgb(0 0 0);
    --md-sys-color-primary-fixed-dim: rgb(195 199 255);
    --md-sys-color-on-primary-fixed-variant: rgb(9 14 70);
    --md-sys-color-secondary-fixed: rgb(229 229 254);
    --md-sys-color-on-secondary-fixed: rgb(0 0 0);
    --md-sys-color-secondary-fixed-dim: rgb(201 201 225);
    --md-sys-color-on-secondary-fixed-variant: rgb(19 21 38);
    --md-sys-color-tertiary-fixed: rgb(255 222 240);
    --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
    --md-sys-color-tertiary-fixed-dim: rgb(236 189 217);
    --md-sys-color-on-tertiary-fixed-variant: rgb(40 12 33);
    --md-sys-color-surface-dim: rgb(19 19 24);
    --md-sys-color-surface-bright: rgb(57 57 63);
    --md-sys-color-surface-container-lowest: rgb(14 14 19);
    --md-sys-color-surface-container-low: rgb(27 27 33);
    --md-sys-color-surface-container: rgb(31 31 37);
    --md-sys-color-surface-container-high: rgb(42 41 47);
    --md-sys-color-surface-container-highest: rgb(52 52 58);
  } */



/* Reset CSS */
/* html,
body,
#root {
  width: 100%;

  height: 100%;
 
  margin: 0;

  padding: 0;

  box-sizing: border-box;

} */

/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
/* body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
} */


/* https://codepen.io/kevinpowell/pen/abMdOpp */
/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* Esto porque es el elemento con ancho fijo mas chico que tengo */
html,
body,
#root {
  min-width: 28.875rem;
}